/*Hi guys! Hope you are having a WONDERFUL week so far!
 Just wanted to submit what I put together so far.
 Hoping it will help out the guys writing our code.
 Feel free to change it so it's not just a bunch of articles about potatoes haha!
 Ill add the more links when we get going a little further.. :) */
body {
 font-family: georgia;
/*
background-image: url(https://www.xmple.com/wallpaper/grey-streaks-stripes-lines-white-1920x1080-c2-d3d3d3-fdf5e6-l2-56-56-a-30-f-1.svg);
    background-attachment: fixed;
  background-repeat: ;
    background-size: 100%;
    background-position: center top;
*/
 
 /*Navication and page header.*/
 
 html{
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif
}

ul{
    position: fixed;
    top: 200px;
    width: 100%;
	list-style:none;
	color: black;
	text-align:center;
	
}


li{
	display:inline;
	float:left;
    width: 14%;
  	font-size: 1.25em;
	
	
	
}

.hero{
	padding-top: 0px;
  	position:absolute;
   	width:100%;
   text-align: center;
  
}

.logo{
	position:absolute;
	width: 200px;
	margin: 0px 0px -200px -100px; 
	transition: all .4s ease-in-out; }

.logo:hover { 
	transform: scale(1.1);
 }
	



.click-logo{
	position:fixed;
	margin: 	50px 0px 100px -550px;
}

.click-logo:hover{
	transform: scale(1.1);
	}
	

a{
	text-decoration: none;
	color: black;


}

.subscribe{
	position:fixed;
	margin: 75px 0px 0px 450px;	
	font-size: 1.1em;
}

.subscribe:hover{
	transform: scale(1.1);
}

.grow { 
-webkit-transition:ease-in-out;
	transition: all .4s ease-in-out;
	}

.grow:hover { 
	-webkit-transform:scale(1.1);
	transform: scale(1.1);
	color:#659E44;
	
	
	 }
/*end of nav header*/
 
}
.threeone {
    max-width: 50%;
    display: inline-block;
    overflow: hidden;
    margin-right: -4px;
     border-bottom: solid black 5px;
    border-top: solid black 5px; 
}
.three {
    max-width: 25%;
/*    min-height: 500px;*/
    display: inline-block;
    overflow: hidden;
    margin-right: -4px;
     border-bottom: solid black 5px;
    border-top: solid black 5px; 
}

.topthreeone {
    max-width: 100%;
}
.topthree {
    max-width: 200%;
}
.rachaelssection{
  width:100%;
  
  text-align:left;
}

img{
  max-width:100%;
}
h1 {
    border-bottom: solid black 5px;
}
.trending {
    font-size: 50px;
    font-style: italic;
    letter-spacing: 20px;
    text-align: center;
    border: none;
}
h3{
 max-width:100%;
 margin:auto;
 padding-top:10px;
 font-family: 'Chivo', sans-serif;
}
p{
  max-width:100%;
  margin:auto;
  padding-top:10px;
}

.column {
  display:block;
  width:100%;
  text-align:left;
  margin:auto;
  margin-top:30px;
  vertical-align: top;
}


/*--------media query----------*/
@media (min-width: 700px) {
    .isaac {
        max-width: 100%;
        margin: 0 auto;
    }
.trending {
    max-width: 80%;
     margin: 0 auto;
    margin-bottom: .25em;
    font-size: 50px;
    font-style: italic;
    letter-spacing: 50px;
    text-align: center;   
} 
    .trending:hover {
      letter-spacing: 20px;  
        transition: 3s;
    }
    
    
.rachaelssection{
  width:80%;
  margin: 0 auto;
  text-align:left;
}    
.column {
    display:inline-block;
    max-width:30%;
    margin-right: 2%;
  }
}
.container {
/*    border-top: solid black 5px;*/
    margin-bottom: 5em;
}
