/*Hi guys! Hope you are having a WONDERFUL week so far!
 Just wanted to submit what I put together so far.
 Hoping it will help out the guys writing our code.
 Feel free to change it so it's not just a bunch of articles about potatoes haha!
 Ill add the more links when we get going a little further.. :) */
* {
   -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    margin: 0;
} 
html,
body {
    font-family: georgia;
    height: 100%;
    max-width: 100%;
} 
/*
 html{
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif
}
*/


/*----------------alecia-----------*/
/*Navication and page header.*/
/*
ul [id=fixednav] {
    position: fixed;
    top: 200px;
    width: 100%;
	list-style:none;
	color: black;
	text-align:center;	
}
li{
	display:inline;
	float:left;
    width: 14%;
  	font-size: 1.25em;	
}
a{
	text-decoration: none;
	color: black;
}
.hero{
	padding-top: 0px;
   	width:100%;
   text-align: center;
    background: white; 
}
.logo{
	position:relative;
	width: 200px;
	margin: 0px 0px 200px -100px; 
	transition: all .4s ease-in-out; 
}
.logo:hover { 
	transform: scale(1.1);
 }
.click-logo{
	position:fixed;
	margin: 50px 0px 100px -550px;
}
.click-logo:hover{
	transform: scale(1.1);
}
.subscribe{
	position:fixed;
	margin: 75px 0px 0px 450px;	
	font-size: 1.1em;
}
.subscribe:hover{
	transform: scale(1.1);
}
.grow { 
-webkit-transition:ease-in-out;
	transition: all .4s ease-in-out;
}
.grow:hover { 
	-webkit-transform:scale(1.1);
	transform: scale(1.1);
	color:#659E44;	
}
*/
/*end of nav header*/

/*----------isaac------------*/
/*----------attempt at header-----------*/
.alecia {
    max-width: 100%;
}
.hero {
    position: fixed;
    left: 0;
    right: 0;
    max-width: 100%;
    background: white;
    border-bottom: solid black 5px; 
}
.subscribe {
    float: right;
    margin: 1.1em;
    font-size: 1.1em;   
}
.click-logo {
    margin-left: 1em;
}
a{
	text-decoration: none;
	color:black;
}
a:hover {
    color: tomato;
}
.logo {
    margin: 0 auto;
}



/*----------rachael/isaac---------*/

.rachaelssection{
  width:100%;
  text-align:left;
}
img{
  max-width:100%;
}
h1 {
    border-bottom: solid black 5px;
    padding-top: 1em;
}
h3{
 max-width:100%;
 margin:auto;
 padding-top:10px;
 font-family: 'Chivo', sans-serif;
}
p{
  max-width:100%;
  margin:auto;
  padding-top:10px;
}
.column {
  display:block;
  width:100%;
  text-align:left;
  margin:auto;
  margin-top:30px;
    padding-bottom: 1em;
  vertical-align: top;
}

/*-------isaac------------------*/
.isaac {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 2em;
}
.isaac img {
    position: absolute;
    top: -20%;
    max-width: 100%;
    overflow: hidden;  
}
.three,
.threeone {
    position: relative;
    overflow: hidden;
    vertical-align: top;
    max-width: 100%;
    height: 200px;
    margin-right: -4px;
    margin-bottom: 2%;
}
.trending {
    margin-bottom: 1em;
}
 p,
h3 {
    padding:.5em 1em 0 1em;
    } 
h1 {
    padding-left: .5em;
    transition: 1.5s ease;
}
.isaac h3 {
    position:absolute;
    max-width: 60%;
    color: white;
    text-shadow: 5px 2px 2px black;
    bottom: 1%;
    padding: 1em;    
}
/*---------isaac wrapper------*/
.wrapper {
    min-height: 100%;
   
/*    margin-bottom: -220px;*/
}
.wrapper:after {
  content: "";
  display: block;
}
.column:last-of-type {
    padding-bottom: 4em;
}
/*---------Footer Cara---------*/

.footer {
/*    position: absolute;*/
/*
    bottom: -1px;
    right: -1px;
    left:-1px;
*/
    height: 220px;
    background: black;
    clear: both;  
}

ul {
    width:500px;
    padding-top: 20px;
    margin-bottom:20px;
    overflow:hidden;
}
li{
    width: 10em;
    line-height:1.5em;
    float:left;
    display:inline;
}
.footer li a {
    text-decoration: none;
    color: white;
}
.footer li a:hover {
    text-decoration:none;
    color: tomato;
}

/*--------end of footer--------*/

/*--------media query----------*/
/*-----------------------------*/

@media (min-width: 678px) {

/*----------------isaac-----------*/
/*-------attempt at header-------    */
    .subscribe {
        margin-right: 2%;   
    }
   
/*----------------isaac-----------*/    
    .isaac {
     max-width: 80%;
    margin: 0 auto;
}
    .isaac img {
        top: -80%;
        transition: 3.5s ease;
    }
    .isaac img:hover {
        max-width: 125%;
        margin-left: -20%;
        top: -110%;
        transition: 1.5s ease;
    }
    .three,
    .threeone {
            position: relative;
        max-width: 98%;
    }    
    .isaac h3 {
        position:absolute;
        color: white;
        text-shadow: 5px 5px 2px black;
        bottom: 1%;
        padding: 1em;    
    }  
    p,
    h3 {
        padding: .5em 0 0em 0;
    }
    h1:hover {
        padding-left: 67%;
        transition: .5s ease;
    }
    
/*------------rachael-----------*/
.rachaelssection{
  width:80%;
  margin: 0 auto;
  text-align:left;
}    
.column {
    display:inline-block;
    max-width:31%;
    margin-right: 2%;
}
.container {
/*    border-top: solid black 5px;*/
    margin-bottom: 2em;
}
/*----------------isaac-----------*/    
    .container div:last-of-type {
        margin-right: 0%;
    } 
    h1 {
        padding-left:0;
        max-width: 98%;
    }
}

@media (min-width: 1600px) {
    body {
        max-width: 1600px;
        margin: 0 auto;
    }
    
    
}
